{% extends 'template.html.twig' %}

{% block content %}
<div class="row" style="margin-top:50px">
		<div class="col-md-12">
			<h3>Cadastro de Chamado</h3>
		</div>
		<div class="jumbotron">
		<form action="/chamado" method="post" class="form">
			<input type="hidden" name="_token" value="" id="_token">
		  <div class="form-group">
		    <label for="pedido_numero">Número do pedido</label>
		    <input type="text" class="form-control" id="pedido_numero" placeholder="Digite o número"
		    	value="" name="pedido_numero" required="">
		    	
		    	{% for flashM in app.session.flashbag.get('error_pedido') %}
					<span id="helpBlock2" class="inputs-messages">{{ flashM }}</span>
				{% endfor %}
		    
		  </div>

		  <div class="form-group">
		    <label for="cliente_nome">Nome do Cliente</label>
		    <input type="text" name="cliente_nome" class="form-control" id="cliente_nome" 
		    	placeholder="Digite o nome do cliente" value="" required="" >
		  </div>
		  <div class="form-group">
		    <label for="cliente_email">Email do Cliente</label>
		    <input type="email" name="cliente_email" class="form-control" id="cliente_email" 
		     placeholder="Digite o email do cliente" value="" required="">
		  </div>
		  <div class="form-group">
		    <label for="chamado_titulo">Titulo</label>
		    <input type="text" name="chamado_titulo" class="form-control" id="chamado_titulo" 
		    placeholder="Digite um titulo" value="" required="">
		  </div>
		  <div class="form-group">
		    <label for="chamado_descricao">Observação</label>
		    <textarea class="form-control" rows="3" id="chamado_observacao" name="chamado_observacao" required=""></textarea>
		  </div>


		  <button type="submit" class="btn btn-success btnSave">Cadastrar</button>
		  <button type="submit" class="btn btn-success btnSaveAjax">Cadastrar Com Ajax</button>
		</form>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(function(){
		{% for flashM in app.session.flashbag.get('cadastro') %}
			$.notify("{{ flashM }}", "success");
		{% endfor %}

		$('.btnSaveAjax').click(function(e){
			e.preventDefault();
			save();
		});
	});
	function formSerialize()
	{
		var data = {
			"_token" : $("#_token").val(),
			"pedido_numero" : $("#pedido_numero").val(),
			"cliente_nome" : $("#cliente_nome").val(),
			"cliente_email" : $("#cliente_email").val(),
			"chamado_titulo" : $("#chamado_titulo").val(),
			"chamado_observacao" : $("#chamado_observacao").val(),
		};
		return data;
	}
	function save()
	{
		var data = formSerialize();
		console.log( data );
		$.ajax({
			url : "{{ path('postChamadoAjax') }}",
			dataType : "Json",
			type : "post",
			data : data,
			success : function(response){
				console.log(response);
				$.notify(response.message, response.status);
			}
		});
	}
</script>
{% endblock %}